
<!doctype html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="text-center m-0 vh-100 row justify-content-center align-items-center"> 
    <div class="col-auto p-5 text-center">
    <div class="card" style="width: 18rem;">
    <main class="form-signin w-100 m-auto">
      <div class="card-body">
      <form>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
        </svg>
        <h1 class="h3 mb-3 fw-normal">Iniciar sesion</h1>
        <div class="form-floating">
          <label for="floatingInput">Usuario:</label>
          <input type="email" class="form-control" id="floatingInput" placeholder="">
        </div>
        <div class="form-floating">
          <label for="floatingPassword">Contrasena: </label>
          <input type="password" class="form-control" id="floatingPassword" placeholder="">
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-success" type="submit">Conectar</button>
      </form>
    </div>
  </div>
  </main>
  </div>
  </body>
</html>